body {
    background-image: url("library.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #FFF1E3;
    text-shadow: black 1px 0 10px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
    color: #FFF1E3;
    text-shadow: black 1px 0 5px;
}

#increment-btn {
    background: #E2A2A3;
}

#save-btn {
    background: #D08562;
}

#container {
    width: 80%;
}